fastapi
uvicorn
pydantic[email]
pydantic-settings
sqlalchemy
psycopg[binary]
python-jose[cryptography]
passlib[bcrypt]>=1.7.4
bcrypt>=4.0.0,<5.0.0
#TODO: agregar la librería para reconocimiento facial